<launch>
	<env name="GAZEBO_RESOURCE_PATH" value="${HOME}/catkin_ws/src/FunRobo-Simulator/funrobo_gazebo/models" />
	<env name="GAZEBO_MODEL_PATH" value="${HOME}/catkin_ws/src/FunRobo-Simulator/funrobo_gazebo/models" />

	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find funrobo_gazebo)/worlds/olin.world"/>
		<arg name="debug" value="$(arg debug)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
	</include>

	<!--<param name="robot_description" textfile="$(find funrobo_description)/urdf/robot.urdf" />-->
	<param name="robot_description"
		command="$(find xacro)/xacro.py '$(find funrobo_description)/urdf/robot.urdf.xacro'" />

	<!-- Spawn a robot into Gazebo -->
	<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model funrobo -param robot_description" />

</launch>
