<?xml version="1.0"?>
<model>
  <name>Olin</name>
  <version>1.0</version>
  <sdf>urdf/robot.urdf</sdf>
  <author>
    <name>Yoonyoung Cho</name>
    <email>yoonyoung.cho@students.olin.edu</email>
  </author>
  <description>
	default Ground Rover Template for Fundamentals of Robotics
  </description>
</model>
