<?xml version="1.0"?>
<robot name="olin" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find olin_description)/urdf/wheel.urdf.xacro" />
	<xacro:include filename="$(find olin_description)/urdf/camera.urdf.xacro" />

	<property name="M_PI" value="3.14159"/>

	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		</plugin>
	</gazebo>

	<!-- Root Element -->
	<link name="base_link">
		<visual>
			<geometry>
				<box size="0.3 0.6 0.1"/>
			</geometry>
			<material name="white">
				<color rgba="1 1 1 0.5"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<box size="0.3 0.6 0.1"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="1.8"/>
			<inertia ixx="0.015" ixy="0" ixz="0" iyy="0.015" iyz="0" izz="0.0675"/>
		</inertial>
	</link>


	<!-- Four Wheels -->
	<xacro:wheel wheel_prefix="front_left">
		<origin xyz="0.19 0.3 0" rpy="0 0 0"/>
	</xacro:wheel>

	<xacro:wheel wheel_prefix="front_right">
		<origin xyz="-0.19 0.3 0" rpy="0 0 0"/>
	</xacro:wheel>

	<xacro:wheel wheel_prefix="back_left">
		<origin xyz="0.19 -0.3 0" rpy="0 0 0"/>
	</xacro:wheel>

	<xacro:wheel wheel_prefix="back_right">
		<origin xyz="-0.19 -0.3 0" rpy="0 0 0"/>
	</xacro:wheel>

	<!-- Camera -->
	<xacro:simple_camera camera_id="1"/>

</robot>
