<?xml version="1.0"?>
<robot name="olin" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find olin_description)/urdf/wheel.urdf.xacro" />
	<xacro:include filename="$(find olin_description)/urdf/camera.urdf.xacro" />
	<xacro:include filename="$(find olin_description)/urdf/lidar.urdf.xacro" />
	<xacro:include filename="$(find olin_description)/urdf/imu.urdf.xacro" />

	<property name="M_PI" value="3.14159"/>

	<property name="wheel_radius" value="0.1"/>
	<property name="wheel_thickness" value="0.04"/>
	<property name="wheel_x_offset" value="0.11"/>
	<property name="wheel_y_offset" value="0.19"/>
	<property name="wheel_mass" value="0.1"/>

	<property name="base_xdim" value="0.4"/>
	<property name="base_ydim" value="0.3"/>
	<property name="base_zdim" value="0.1"/>
	<property name="base_mass" value="2"/>

	<xacro:macro name="box_inertia" params="m x y z">
		<inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
			iyy="${m*(x*x+z*z)/12}" iyz = "0"
			izz="${m*(x*x+z*z)/12}"
			/>
	</xacro:macro>

	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		</plugin>
	</gazebo>

	<!-- Root Element -->
	<link name="base_link">
		<visual>
			<geometry>
				<box size="${base_xdim} ${base_ydim} ${base_zdim}"/>
			</geometry>
			<material name="white">
				<color rgba="1 1 1 0.5"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<box size="${base_xdim} ${base_ydim} ${base_zdim}"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="${base_mass}"/>
			<box_inertia m="${base_mass}" x="${base_xdim}" y="${base_ydim}" z="${base_zdim}"/>
		</inertial>
	</link>


	<!-- Four Wheels -->
	<xacro:wheel wheel_prefix="front_left">
		<origin xyz="${wheel_x_offset} ${wheel_y_offset} 0" rpy="0 0 0"/>
	</xacro:wheel>

	<xacro:wheel wheel_prefix="front_right">
		<origin xyz="${wheel_x_offset} -${wheel_y_offset} 0" rpy="0 0 0"/>
	</xacro:wheel>

	<xacro:wheel wheel_prefix="back_left">
		<origin xyz="-${wheel_x_offset} ${wheel_y_offset} 0" rpy="0 0 0"/>
	</xacro:wheel>

	<xacro:wheel wheel_prefix="back_right">
		<origin xyz="-${wheel_x_offset} -${wheel_y_offset} 0" rpy="0 0 0"/>
	</xacro:wheel>

	<!-- Camera -->
	<xacro:simple_camera camera_id="1"/>

	<!-- LIDAR -->
	<xacro:lidar lidar_id="1"/>

	<!-- IMU -->
	<xacro:fake_imu />

</robot>
