<?xml version="1.0"?>
<robot name="funrobo" xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:include filename="$(find funrobo_description)/urdf/wheel.urdf.xacro" />
	<xacro:include filename="$(find funrobo_description)/urdf/camera.urdf.xacro" />
	<xacro:include filename="$(find funrobo_description)/urdf/lidar.urdf.xacro" />
	<xacro:include filename="$(find funrobo_description)/urdf/imu.urdf.xacro" />
	<xacro:include filename="$(find funrobo_description)/urdf/range.urdf.xacro" />

	<property name="M_PI" value="3.14159"/>

	<property name="wheel_radius" value="0.07"/>
	<property name="wheel_thickness" value="0.04"/>
	<property name="wheel_x_offset" value="0.25"/>
	<property name="wheel_y_offset" value="0.29"/>
	<property name="wheel_z_offset" value="-0.1"/>
	<property name="wheel_mass" value="0.1"/>

	<property name="base_xdim" value="0.5"/>
	<property name="base_ydim" value="0.5"/>
	<property name="base_zdim" value="0.2"/>
	<property name="base_mass" value="3"/>

	<xacro:macro name="box_inertia" params="m x y z">
		<inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
			iyy="${m*(x*x+z*z)/12}" iyz = "0"
			izz="${m*(x*x+z*z)/12}"
			/>
	</xacro:macro>

	<xacro:macro name="sonar_sensor" params="name parent ros_topic *origin">
		<xacro:range_sensor name="${name}" parent="${parent}" ros_topic="${ros_topic}" update_rate="1" min_range="0.25" max_range="7.65" field_of_view="${30 * M_PI/180}" ray_count="50">
			<xacro:insert_block name="origin"/>
			<mesh filename="package://hector_sensors_description/meshes/sonar_sensor/max_sonar_ez4.dae"/>
		</xacro:range_sensor>
	</xacro:macro>

	<xacro:macro name="ir_sensor" params="name parent ros_topic *origin">
		<xacro:range_sensor name="${name}" parent="${parent}" ros_topic="${ros_topic}" update_rate="1" min_range="0.01" max_range="5.0" field_of_view="${M_PI/8}" ray_count="10">
			<xacro:insert_block name="origin"/>
			<mesh filename="package://hector_sensors_description/meshes/sonar_sensor/max_sonar_ez4.dae"/>
		</xacro:range_sensor>
	</xacro:macro>

	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>funrobo</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
		</plugin>
	</gazebo>

	<!-- Root Element -->
	<link name="base_link">
		<visual>
			<geometry>
				<box size="${base_xdim} ${base_ydim} ${base_zdim}"/>
			</geometry>
			<material name="white">
				<color rgba="1 1 1 0.5"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<box size="${base_xdim} ${base_ydim} ${base_zdim}"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="${base_mass}"/>
			<box_inertia m="${base_mass}" x="${base_xdim}" y="${base_ydim}" z="${base_zdim}"/>
		</inertial>
	</link>


	<!-- Four Wheels -->
	<xacro:wheel wheel_prefix="front_left">
		<origin xyz="${wheel_x_offset} ${wheel_y_offset} ${wheel_z_offset}" rpy="0 0 0"/>
	</xacro:wheel>

	<xacro:wheel wheel_prefix="front_right">
		<origin xyz="${wheel_x_offset} -${wheel_y_offset} ${wheel_z_offset}" rpy="0 0 0"/>
	</xacro:wheel>

	<xacro:wheel wheel_prefix="back_left">
		<origin xyz="-${wheel_x_offset} ${wheel_y_offset} ${wheel_z_offset}" rpy="0 0 0"/>
	</xacro:wheel>

	<xacro:wheel wheel_prefix="back_right">
		<origin xyz="-${wheel_x_offset} -${wheel_y_offset} ${wheel_z_offset}" rpy="0 0 0"/>
	</xacro:wheel>

	<!-- Camera -->
	<xacro:simple_camera camera_id="1"/>

	<!-- LIDAR -->
	<xacro:lidar lidar_id="1"/>

	<!-- IMU -->
	<xacro:fake_imu />

	<!-- Left Sonar -->
	<xacro:sonar_sensor name="left_sonar" parent="base_link" ros_topic="funrobo/left_sonar">
		<origin xyz="0 ${base_ydim/2 + 0.02} 0" rpy="0 0 ${M_PI/2}" />
	</xacro:sonar_sensor>

	<!-- Right Sonar -->
	<xacro:sonar_sensor name="right_sonar" parent="base_link" ros_topic="funrobo/right_sonar">
		<origin xyz="0 ${-base_ydim/2 - 0.02} 0" rpy="0 0 ${-M_PI/2}" />
	</xacro:sonar_sensor>

</robot>

